$bg-wm-primary: #E3E3E3;
$bg-wm-secundary: #DCDCDC;
$bg-dm-primary: #313131;
$bg-dm-secundary: #464646;
$txt-wm-primary: #313131;
$txt-wm-secundary: #5C5C5C;
$txt-dm-primary: #DCDCDC;
$txt-dm-secundary: #EEE;
$footer: #2d2e32;
$padding-horizontal: 2rem;
$padding-horizontal-lg: 4rem;
$padding-horizontal-xl: 10rem;
$color-links: #e85252;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 375px;

// Tablets and small desktops
$screen-lg-min: 900px;

// Large tablets and desktops
$screen-xl-min: 1200px;